#id_address {width: 40em;}
/*.map_canvas_wrapper {margin-left: 170px;}*/
/*#map_canvas {width: 100%; height: 40em;}*/
#map_canvas {width: 630px; height: 415px;}

.julito {display: inline-block;}
.results{width: 70%}

label[for=id_address]{
	width: 100%;
}