{% include "django/forms/widgets/text.html" %}








<!-- Modificaciones -->

<div class="module" id="changelist">

<!--
    <form id="changelist-form" method="post" novalidate=""><input name="csrfmiddlewaretoken" value="a7XNTK6EPwOlvNMIPSAUZcqDQMf7FQ4FTFc0vxjB9BwF0DCUTu321brXiJ9dMQhe" type="hidden">
        
	<div class="actions">
    	<label>Acción: <select name="action" required="">
  		<option value="" selected="">---------</option>

  		<option value="delete_selected">Eliminar activos seleccionado/s</option>

		</select></label><input name="select_across" value="0" class="select-across" type="hidden">
    	<button type="submit" class="button" title="Ejecutar la acción seleccionada" name="index" value="0">Ir</button>
    
        <span class="action-counter" data-actions-icnt="9" style="display: inline;">seleccionados 0 de 9</span> 
	</div>
-->
	<div class="julito">



	<label>Filtrar: <select name="action" required="" id="filtro" onchange="test(this);">
		<option value="ultimos" selected="">Ultimos 10</option>		
  		<option value="1">Arbol</option>
  		<option value="2">Arbusto</option>
  		<option value="3">Cultivo</option>
  		<option value="todos">Todos</option>

		</select>

		<!--<script>


		</script> -->

		<!--<button type="submit" class="button" title="Ejecutar la acción seleccionada" name="index" value="0" style="display:inline;">Ir</button>-->

		</label> <input name="select_across" value="0" class="select-across" type="hidden"> 
    	




		<div class="results">

			<table class="fixed_header" id="result_list">
			<thead>
				<tr>
					<!--
					<th scope="col" class="action-checkbox-column">
		   
		   				<div class="text"><span><input id="action-toggle" type="checkbox"></span></div>
		   				<div class="clear"></div>
					</th>
					-->
					<th scope="col" class="column-__str__">
		   
		   				<div class="text"><span>Tipo</span></div>
		   				<div class="clear"></div>
					</th>

					<th scope="col" class="column-__str__">
		   
		   				<div class="text"><span>Ubicación</span></div>
		   				<div class="clear"></div>
					</th>
				</tr>	
			</thead>
			<tbody>

			<script>

			//var opcion = "todos";
			window.test = function(e){

				deleteRows();
				drawTable();
				/*if(e.value === '1'){
					//console.log("Opcion 1");
					//deleteRows();
				}
				else if (e.value === '2') {
					console.log("Opcion 2");

				}
				else if (e.value === '3') {
					//console.log("Opcion 3");
					//deleteRows();
				}
				else if (e.value === 'ultimos') {
					//console.log("Opcion ultimos");
					//deleteRows();
				}
				else if (e.value === 'todos') {
					//console.log("Opcion todos");
					//deleteRows();
				}
				else{
					//console.log("NINGUNA OPCION");
				}*/
			}

			function deleteRows(){
				var tbl = document.getElementById('result_list');
				 
				var rowCount = tbl.rows.length;
				for(var i = rowCount - 1; i > 0; i--)
				{
					tbl.deleteRow(i);
				}
			}

		

			    function drawTable() {

			    	// make request
			    	/*var xhttp = new XMLHttpRequest();
  					xhttp.onreadystatechange = function() {
    				if (this.readyState == 4 && this.status == 200) {
      					document.getElementById("demo").innerHTML = this.responseText;
    				}
  					};
  					xhttp.open("GET", "demo_get.asp", true);
  					xhttp.send();*/

  					var opcion = document.getElementById("filtro").value;
  					console.log("VALOR ADQUIRIDO");
  					console.log(opcion);

		  			axios.get('../../../../../getLastActivos/'+opcion+'/').then(function (response) { 
				        this.initData = response.data;
				        console.log("CARGAR 10 ACTIVOS")
				        console.log(this.initData);
				        var totalRows = this.initData.length;

			        // get the reference for the body
			        //var div1 = document.getElementById('div1');
			 
			        // creates a <table> element
			        //var tbl = document.createElement("table");
				        var tbl = document.getElementById('result_list');
				 
				        // creating rows
				        
				        for (var r = 0; r < totalRows; r++) {

				        	activo = this.initData[r];
				        	console.log("INFO");
				        	console.log(activo.id);
				        	console.log(activo.tipo);
				        	console.log(activo.ubicacion);


				        	
				        	if(r%2 == 0)
				        	{
				        		var clase = "row1";
				        	}
				        	else
				        	{
				        		var clase = "row2";
				        	}

				            var row = document.createElement("tr");
					     	
					     	row.className = clase;

						     // create cells in row
						     
						     
						     //var cellText_Tipo = document.createTextNode("Arbol");
						     //cell_Tipo.innerHTML=  '<a href="'+whatever+'">'+fname[j]+'</a>';
						     
						     //cellText_Tipo.appendChild(link);
						     //cell_Tipo.appendChild(cellText_Tipo);
						     var cell_Tipo = document.createElement("td");
						     cell_Tipo.innerHTML=  '<a href="/admin/mvc/activo/'+activo.id+'/change/" title="Modificar">'+activo.tipo+'</a>';
						     row.appendChild(cell_Tipo);

						     var cell_Ubicacion = document.createElement("td");
						     cell_Ubicacion.innerHTML=  '<a href="/admin/mvc/activo/'+activo.id+'/change/" title="Modificar">'+activo.ubicacion+'</a>';
						     row.appendChild(cell_Ubicacion);


							 tbl.appendChild(row); // add the row to the end of the table body
				        }
			    
			     //div1.appendChild(tbl); // appends <table> into <div1>

			 }); //axios
			}
			window.onload=drawTable; 


			</script>

				<!--
				<tr class="row1">

					<td><a href="/admin/mvc/activo/10/change/">Arbol</a></td>
					<td><a href="/admin/mvc/activo/10/change/">Acuducto</a></td>

				</tr>

				
				<tr class="row2"><td class="action-checkbox"><input name="_selected_action" value="9" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/9/change/">La Parcela</a></th></tr>


				<tr class="row1"><td class="action-checkbox"><input name="_selected_action" value="8" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/8/change/">La Parcela</a></th></tr>


				<tr class="row2"><td class="action-checkbox"><input name="_selected_action" value="7" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/7/change/">La Parcela - UPB - Aguacate</a></th></tr>


				
				<tr class="row1"><td class="action-checkbox"><input name="_selected_action" value="6" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/6/change/">Escuela La Judía</a></th></tr>


				<tr class="row2"><td class="action-checkbox"><input name="_selected_action" value="5" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/5/change/">Floridablanca</a></th></tr>


				<tr class="row1"><td class="action-checkbox"><input name="_selected_action" value="4" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/4/change/">Bucaramanga</a></th></tr>


				<tr class="row2"><td class="action-checkbox"><input name="_selected_action" value="3" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/3/change/">Don Ruben</a></th></tr>


				<tr class="row1"><td class="action-checkbox"><input name="_selected_action" value="1" class="action-select" type="checkbox"></td><th class="field-__str__"><a href="/admin/mvc/activo/1/change/">Floridablanca, Santander Department, Colombia</a></th></tr>

				-->

			</tbody>
		</table>
	</div>
</div>











<div class="julito">
<!-- MAPA -->
<div class="map_canvas_wrapper">
	<div id="map_canvas">		
	</div>
</div>
<!-- MAPA -->		
</div>
</div>